<body class=" h-screen">
    <app-navbar></app-navbar>
    <div class="  h-1/4 flex items-center justify-center mt-5">
        <div>
            <p class="text-gray-700 text-2xl flex items-center justify-center ">Pour voter,merci tout d'abord de
                s'identifier en</p>
            <p class="text-gray-700 text-2xl flex items-center justify-center ">cliquant sur le bouton S'identifier</p>
        </div> 
    </div>
    <div class="h-2/5 mb-18 pt-24">
        <div class="flex justify-center items-center mb-6">
            <a href="http://localhost:4200/auth">
            <button
                class="bg-green-600 hover:bg-green-700 text-white text-2xl font-bold py-4 px-24 rounded focus:outline-none focus:shadow-outline"
               >
                S'identifier
            </button>
        </a>
        </div>
        <div class="flex justify-center items-center mb-8">
            <button
                class="bg-gray-400 hover:bg-green-700 text-white text-2xl font-bold py-4 px-32 rounded focus:outline-none focus:shadow-outline"
                type="button">
                Voter
            </button>
        </div>
    </div>
    <div class=" mt-10">
        <app-footer></app-footer>
    </div>
   
</body>