<app-navbar [showBackArrow]="true"></app-navbar>
<main class="max-w-2xl mx-auto">
  <h2 class="text-xl text-center ">
    Sélectionner ci-dessous votre candidat :
  </h2>
  <div class="grid grid-cols-4 gap-2 mt-10">


    <button  class="border-2 border-gray-300 rounded-lg h-28 w-36 mx-auto"  (click)="valider('assets/photoPresi1.jpg')">
      <img src="assets/photoPresi1.jpg" class="w-full h-full object-cover" />
    </button>
    <button class="border-2 border-gray-300 rounded-lg h-28 w-36 mx-auto"  (click)="valider('assets/photo2.jpg')">
      <img src="assets/photo2.jpg" class="w-full h-full object-cover" />
    </button>
    <button class="border-2 border-gray-300 rounded-lg h-28 w-36 mx-auto" (click)="valider('assets/photo3.jpeg')">
      <img src="assets/photo3.jpeg" class="w-full h-full object-cover" />
    </button>
    <button class="border-2 border-gray-300 rounded-lg h-28 w-36 mx-auto" (click)="valider('assets/photoPresi1.jpg')">
      <img src="assets/photo4.jpg" class="w-full h-full object-cover" />
    </button>
    <button class="border-2 border-gray-300 rounded-lg h-28 w-36 mx-auto" (click)="valider('assets/photoPresi1.jpg')">
      <img src="assets/photo5.jpg" class="w-full h-full object-cover" />
    </button>
    <button class="border-2 border-gray-300 rounded-lg h-28 w-36 mx-auto"  (click)="valider('assets/photo6.jpg')">
      <img src="assets/photo6.jpg" class="w-full h-full object-cover" />
    </button>
     <button class="border-2 border-gray-300 rounded-lg h-28 w-36 mx-auto"  (click)="valider('assets/photo6.jpg')">
      <img src="assets/photo6.jpg" class="w-full h-full object-cover" />
    </button>
     <button class="border-2 border-gray-300 rounded-lg h-28 w-36 mx-auto"  (click)="valider('assets/photo6.jpg')">
      <img src="assets/photo6.jpg" class="w-full h-full object-cover" />
    </button>
     <button class="border-2 border-gray-300 rounded-lg h-28 w-36 mx-auto"  (click)="valider('assets/photo6.jpg')">
      <img src="assets/photo6.jpg" class="w-full h-full object-cover" />
    </button>
     <button class="border-2 border-gray-300 rounded-lg h-28 w-36 mx-auto"  (click)="valider('assets/photo6.jpg')">
      <img src="assets/photo6.jpg" class="w-full h-full object-cover" />
    </button>
     <button class="border-2 border-gray-300 rounded-lg h-28 w-36 mx-auto"  (click)="valider('assets/photo6.jpg')">
      <img src="assets/photo6.jpg" class="w-full h-full object-cover" />
    </button>
    <button class="border-2 border-gray-300 rounded-lgh-28 w-36 mx-auto" (click)="valider('assets/photo6.jpg')">
      <img src="assets/photo2.jpg" class="w-full h-full object-cover" />
    </button>
     <button class="border-2 border-gray-300 rounded-lg h-28 w-36 mx-auto"  (click)="valider('assets/photo6.jpg')">
      <img src="assets/photo6.jpg" class="w-full h-full object-cover" />
    </button>
    <button class="border-2 border-gray-300 rounded-lgh-28 w-36 mx-auto" (click)="valider('assets/photo6.jpg')">
      <img src="assets/photo2.jpg" class="w-full h-full object-cover" />
    </button>
     <button class="border-2 border-gray-300 rounded-lg h-28 w-36 mx-auto"  (click)="valider('assets/photo6.jpg')">
      <img src="assets/photo6.jpg" class="w-full h-full object-cover" />
    </button>
     <button class="border-2 border-gray-300 rounded-lg h-28 w-36 mx-auto"  (click)="valider('assets/photo6.jpg')">
      <img src="assets/photo6.jpg" class="w-full h-full object-cover" />
    </button>
     <button class="border-2 border-gray-300 rounded-lg h-28 w-36 mx-auto"  (click)="valider('assets/photo6.jpg')">
      <img src="assets/photo6.jpg" class="w-full h-full object-cover" />
    </button>
     <button class="border-2 border-gray-300 rounded-lg h-28 w-36 mx-auto"  (click)="valider('assets/photo6.jpg')">
      <img src="assets/photo6.jpg" class="w-full h-full object-cover" />
    </button>
     <button class="border-2 border-gray-300 rounded-lg h-28 w-36 mx-auto"  (click)="valider('assets/photo6.jpg')">
      <img src="assets/photo6.jpg" class="w-full h-full object-cover" />
    </button>
     <button class="border-2 border-gray-300 rounded-lg h-28 w-36 mx-auto"  (click)="valider('assets/photo6.jpg')">
      <img src="assets/photo6.jpg" class="w-full h-full object-cover" />
    </button>

  </div>
</main>



  <app-footer></app-footer>
